<div class="container">
    <form (ngSubmit)="updateInformationUser()"  class="form font1">
      <h3 class="form_title">Datos personales</h3>
      
      <div class="form_container">
        
          <div class="form_group">
            <input [value]="detailUser?.name" type="text" id="name" name="name" class="form_input" [(ngModel)]="name" placeholder=" "   required autocomplete="off">
            <label for="name" class="form_label">Nombre:</label>
            <span class="form_line"></span>
          </div>
      
          <div class="form_group">
            <input [value]="detailUser?.lastName" type="text" id="lastName" name="lastName" class="form_input" [(ngModel)]="lastName" placeholder=" "  required autocomplete="off">
            <label for="lastName" class="form_label">Apellidos:</label>
            <span class="form_line"></span>
          </div>
    
          <div class="form_group">
            <input [value]="detailUser?.ci"  type="text" id="ci" name="ci" class="form_input" [(ngModel)]="ci" placeholder=" "  required autocomplete="off">
            <label for="ci" class="form_label">Ci:</label>
            <span class="form_line"></span>
          </div>
  
          <div class="form_group">
            <input [value]="detailUser?.phone"  type="text" id="phone" name="phone" class="form_input" [(ngModel)]="phone"  placeholder=" "  required autocomplete="off">
            <label for="phone" class="form_label">Celular:</label>
            <span class="form_line"></span>
          </div>
  
          <div class="form_group ">
            <select [value]="detailUser?.gender" id="gender" class="form_input" [(ngModel)]="gender"  name="gender" >
              <option >Hombre</option>
              <option >Mujer</option>
            </select>
            <label for="gender" class="form_label">Género:</label>
          </div>
  
        <button type="button" class="form_submit btn-primary btn-block" (click)="updateInformationUser()">Actualizar</button>
          
      </div>
    </form>
  </div>
