



<div class="container">
    <form  class="form font1">
      
      <h3 class="form_title_service">Mapa</h3>
  
      <div class="form_container">
  
        <div class="form_group ">
          <select id="category" name="category" class="form_input" >
            <option>Vehículo</option>
            <option>Domicilio</option>
            <option>Cuidado personal</option>
            <option>Reparación</option>
            <option>Construcción</option>
            <option>Vestimenta</option>
            <option>Enseñanza</option>
          </select>
          <label for="category" class="form_label">Categoria:</label>
        </div>
        
        <!-- <div class="form_group ">
          <select id="job" name="job" class="form_input" [(ngModel)]="job" >
            <option  [ngValue]="job" *ngIf="category === 'Vehículo'">Mécanico</option>
            <option *ngIf="category === 'Vehículo'">Chofer</option>
  
            <option *ngIf="category === 'Domicilio'">Cocinero</option>
            <option *ngIf="category === 'Domicilio'">Jardinero</option>
            <option *ngIf="category === 'Domicilio'">Limpieza</option>
          
            <option *ngIf="category === 'Cuidado personal'">Enfermero</option>
            <option *ngIf="category === 'Cuidado personal'">Niñero</option>
            <option *ngIf="category === 'Cuidado personal'">Cuidador de mascotas</option>
  
            <option *ngIf="category === 'Reparación'">Electricista</option>
            <option *ngIf="category === 'Reparación'">Cerrajero</option>
            <option *ngIf="category === 'Reparación'">Fontanero</option>
            <option *ngIf="category === 'Reparación'">Plomero</option>
  
            <option *ngIf="category === 'Construcción'">Albañil</option>
            <option *ngIf="category === 'Construcción'">Carpintero</option>
            <option *ngIf="category === 'Construcción'">Pintor</option>
          
            <option *ngIf="category === 'Vestimenta'">Sastre</option>
            <option *ngIf="category === 'Vestimenta'">Costurero</option>
  
            <option *ngIf="category === 'Enseñanza'">Tutor</option>
  
          </select>
          <label for="job" class="form_label">Oficio:</label>
        </div> -->
  
        <div class="form_group ">
          <select id="contract" name="contract" class="form_input"  >
            <option>Indefinido</option>
            <option>Duración determinada</option>
            <option>Autónomo</option>
          </select>
          <label for="contract" class="form_label">Contrato:</label>
        </div>
  
        <div class="form_group ">
          <select id="workTime" name="workTime" class="form_input"  >
            <option>Completa</option>
            <option>Parcial</option>
            <option>Flexible</option>
            <option>Intensiva</option>
          </select>
          <label for="workTime" class="form_label">Jornada:</label>
        </div>
  
        <div class="form_group ">
          <select id="experience" name="experience" class="form_input"  >
            <option>Inicial</option>
            <option>Medio</option>
            <option>Experto</option>
          </select>
          <label for="experience" class="form_label">Experiencia:</label>
        </div>
  
        <div class="form_group ">
          <select id="area"  name="area" class="form_input" >
            <option>Cochabamba</option>
            <option>Sacaba</option>
            <option>Quillacollo</option>
            <option>Tiquipaya</option>
          </select>
          <label for="area" class="form_label">Municipio:</label>
        </div>
  
        <div class="form_group">
          <input type="text" id="salary" name="salary" class="form_input" placeholder=" " required autocomplete="off">
            <label for="salary" class="form_label">Salario minimo:</label>
            <span class="form_line"></span>
        </div>
      </div>
  
      <google-map width="100%" height="300" [zoom]="zoom" [center]="center"> <map-marker [position]="center" title="Ubicación actual"></map-marker> </google-map>
    </form>
  </div>
