<div class="container">
  <form (ngSubmit)="login()" [formGroup]="form" class="form font1">
    
    <h3 class="form_title">Iniciar sesión</h3>
    <div class="form_container">
      <div class="form_group">
        <input type="email" id="email" name="email" class="form_input" formControlName="email" placeholder=" " required autocomplete="off" >
        <label for="email" class="form_label">Correo</label>
        <span class="form_line"></span>
      </div>
  
      <div class="form_group">
        <input type="password" id="password" name="password" class="form_input" formControlName="password" placeholder=" ">
        <label for="password" class="form_label">Contraseña</label>
        <span class="form_line"></span>
      </div>
      <button type="button" class="form_submit btn-primary btn-block" [disabled]="form.invalid" (click)="login()">Iniciar sesión</button>
      <div *ngIf="showError" class="alert alert-danger" role="alert">
        Correo electrónico o contraseña no son correctos
      </div>
    </div>
    <hr>
    <p class="form_paragraph">¿Aún no tienes cuenta? <a href="registro" class="form_link">Registrarse</a></p>
  </form>
</div>
