<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button  type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active button-carousel" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" class="button-carousel" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" class="button-carousel" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="../../../../assets/img/opcion4.jpg" class="d-block w-100" alt="..." style="height: 730px; object-fit: cover;">
      <div class="carousel-caption d-none d-md-block">
        <h5>El servicio ideal cerca de ti</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../../../assets/img/opcion5.jpg" class="d-block w-100" alt="..." style="height: 730px; object-fit: cover;">
      <div class="carousel-caption d-none d-md-block">
        <h5>Descarga modelos de contrato para tus proyectos</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/img/opcion7.jpg" class="d-block w-100" alt="..." style="height: 730px; object-fit: cover;">
      <div class="carousel-caption d-none d-md-block">
        <h5>Conexión entre usuarios y prestadores de servicio</h5>
        
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="container whatwedo">
  <div class="part">
    <img src="../../../../assets/img/opcion13.jpg" alt="Descripción de la imagen">
  </div>
  <div class="part jus-text">
  
    <div class="first-title">
      Solicita fácilmente servicios de contratistas
    </div>
    <div class="secondary-text">
      Nuestra plataforma te brinda la comodidad de solicitar servicios de contratistas de manera rápida y sencilla. Solo tienes que seguir estos pasos:
    </div>
    <div class="points-view">
      <div><i class='bx bx-check-circle'></i> Explora la lista de servicios disponibles y selecciona el tipo de trabajo que necesitas.</div>
      <div><i class='bx bx-check-circle'></i> Haz clic en el botón "Enviar solicitud" y tu solicitud será enviada.</div>
      <div><i class='bx bx-check-circle'></i> Espera a recibir respuestas de los contratistas interesados.</div>
      <div><i class='bx bx-check-circle'></i> Al recibir la respuesta, ponte en contacto para los detalles</div>
      <div><i class='bx bx-check-circle'></i> Te proporcionamos un modelo de contrato para facilitar la gestión de tus proyectos bajo tu responsabilidad</div>
    </div>
  </div>
</div>


  <div class="card-row">
    <div class="card category">
      <i class='bx bx-car icon-category'></i>
      <p class="card-text-category">Vehículo</p>
    </div>
    <div class="card category">
      <i class='bx bx-building-house icon-category' ></i>
      <p class="card-text-category">Domicilio</p>
    </div>
    <div class="card category">
      <i class='bx bx-wrench icon-category'></i>
      <p class="card-text-category">Reparación</p>
    </div>
    <div class="card category">
      <i class='bx bx-hard-hat icon-category'></i>
      <p class="card-text-category">Construcción</p>
    </div>
  </div>

  <div class="container part-us" id="partUS">
    <div class="part jus-text">
      <div class="title-us">
        Registro de contratos para un seguimiento eficiente
      </div>
      <div class="secondary-text-us">
        Nuestra plataforma ofrece una función de registro de contratos que te permite llevar un seguimiento eficiente de todos tus contratos vigentes y finalizados. Al utilizar esta función, podrás disfrutar de las siguientes ventajas:
      </div>
      <div class="points-view-us">
        <div><i class='bx bx-check-circle'></i> Organización: Mantén un registro detallado de todos tus contratos en un solo lugar.</div>
        <div><i class='bx bx-check-circle'></i> Historial completo: Accede a un historial completo de tus contratos. </div>
        <div><i class='bx bx-check-circle'></i> Información detallada: Accede a información detallada sobre cada contrato y sus respectivos prestadores.</div>
        
      </div>
    </div>
    <div class="part">
      <img class="second-image" src="../../../../assets/img/opcion14.jpg" alt="Descripción de la imagen">
    </div>
  </div>

  <div class="last-information">
    <h3 class="section-title">Encuentra contratistas locales con facilidad</h3>
    <p class="section-description">Gracias a nuestra funcionalidad de geolocalización</p>
    <div class="section-divider-line"></div>
    <div class="card-container">
      <div class="card important-information">
        <h4 class="card-title-information">Ahorro de tiempo</h4>
        <i class='bx bx-timer icon-information'></i>
        <p class="card-description">Ya no tienes que buscar a ciegas, nuestro sistema te muestra automáticamente los contratistas disponibles cerca de ti.</p>
      </div>
      <div class="card important-information">
        <h4 class="card-title-information">Respuesta rápida</h4>
        <i class='bx bx-transfer-alt icon-information'></i>
        <p class="card-description">Al estar ubicados en tu zona, es más probable que los contratistas locales puedan responder rápidamente a tus solicitudes.</p>
      </div>
      <div class="card important-information">
        <h4 class="card-title-information">Menor costo</h4>
        <i class='bx bx-dollar-circle icon-information'></i>
        <p class="card-description">Al seleccionar contratistas locales, es posible que ahorres en costos de desplazamiento o gastos adicionales.</p>
      </div>
    </div>
  </div>

