<div class="container">
    <form (ngSubmit)="UpdateWorkLender()"  class="form font1">
      
      <h3 class="form_title_service">Actualizar servicio</h3>
  
      <div class="form_container">
  
        <div class="form_group ">
          <select [value]="detailWork?.category" id="category" name="category" class="form_input" [(ngModel)]="category">
            <option>Vehículo</option>
            <option>Domicilio</option>
            <option>Cuidado personal</option>
            <option>Reparación</option>
            <option>Construcción</option>
            <option>Vestimenta</option>
            <option>Enseñanza</option>
          </select>
          <label for="category" class="form_label">Categoría</label>
        </div>
        <div class="form_group">
          <select id="job" name="job" class="form_input" [(ngModel)]="job" >
            <option *ngFor="let j of jobs[category]" [value]="j">{{j}}</option>
          </select>
          <label for="job" class="form_label">Oficio</label>
        </div>
  
  
        <div class="form_group">
          <select [value]="detailWork?.contract" id="contract" name="contract" class="form_input" [(ngModel)]="contract"  >
            <option>Indefinido</option>
            <option>Duración determinada</option>
            <option>Autónomo</option>
          </select>
          <label for="contract" class="form_label">Contrato</label>
        </div>
  
        <div class="form_group ">
          <select [value]="detailWork?.workTime" id="workTime" name="workTime" class="form_input" [(ngModel)]="workTime" >
            <option>Completa</option>
            <option>Parcial</option>
            <option>Flexible</option>
            <option>Intensiva</option>
          </select>
          <label for="workTime" class="form_label">Jornada</label>
        </div>
  
        <div class="form_group ">
          <select [value]="detailWork?.experience" id="experience" name="experience" class="form_input" [(ngModel)]="experience" >
            <option>Inicial</option>
            <option>Medio</option>
            <option>Experto</option>
          </select>
          <label for="experience" class="form_label">Experiencia</label>
        </div>
  
        <div class="form_group ">
          <select [value]="detailWork?.area" id="area"  name="area" class="form_input" [(ngModel)]="area" >
            <option>Cochabamba</option>
            <option>Sacaba</option>
            <option>Quillacollo</option>
            <option>Tiquipaya</option>
          </select>
          <label for="area" class="form_label">Municipio</label>
        </div>
  
        <div class="form_group">
          <input [value]="detailWork?.salary" type="text" id="salary" name="salary" class="form_input" [(ngModel)]="salary" placeholder=" " required autocomplete="off">
            <label for="salary" class="form_label">Salario mínimo</label>
            <span class="form_line"></span>
        </div>
  
        <div class="form_group">
          <input [value]="detailWork?.address" type="text" id="address" name="address" class="form_input" [(ngModel)]="address" placeholder=" "  required autocomplete="off">
            <label for="address" class="form_label">Dirección</label>
            <span class="form_line"></span>
        </div>

        <div class="form_group">
          <input [value]="detailWork?.description" type="text" id="description" name="description" class="form_input" [(ngModel)]="description" placeholder=" "  required autocomplete="off">
            <label for="description" class="form_label">Descripción del servicio</label>
            <span class="form_line"></span>
        </div>
      </div>
  
      <p>Marque su ubicación exacta de trabajo:</p>
      
      <google-map width="100%" height="300" [center]="center" [zoom]="zoom" (mapClick)="onMapClick($event)" >
            <map-marker *ngIf="markerPosition" [position]="markerPosition"></map-marker>
      </google-map>
  
      
     <button type="button" class="form_submit btn-primary"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="UpdateWorkLender()">Continuar</button>
    
        <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Servicio modificado</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            El servicio se actualizó correctamente.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="updateData()"  data-bs-dismiss="modal">Entendido</button>
            
          </div>
        </div>
      </div>
    </div>

    </form>
  </div>

