<div class="container">
    <form  class="form font1">
      <h3 class="form_title_service">Búsqueda de servicios</h3>
      <google-map width="100%" height="400" [zoom]="zoom" [center]="center"> 
        <map-marker [position]="center" title="Ubicación actual"></map-marker>
        <map-circle [center]="center" [radius]="radius" [draggable]="true"></map-circle>
        <map-marker *ngFor="let work of workList" [position]="work.ubication" [title]="work.lender.name"></map-marker>
      </google-map>
      <div class="filter-button">
        <p>Selecciona el rango de valor en metros:</p>
        <input type="range" name="distance" [(ngModel)]="distance" min="0" max="10000" step="10" style="background-color: #7FB5FF;">
        <span>{{ distance }} metros</span>
        <button class="btn filter-map" style="margin-left: 10px; background-color: #7FB5FF;"  (click)="setRadius(); filterWorks()">Mostrar</button>
      </div>

      <div class="resetFilter d-flex justify-content-end">
        <span class="resetFilter-text">Limpiar filtros</span>
        <button class="btn btn-primary brush" (click)="resetFilters()"><i class='bx bx-brush-alt'></i></button>
      </div>
      
      <div class="form_container">
       
        <div class="form_group ">
          <select id="category" name="category" class="form_input" [(ngModel)]="category" (change)="filterWorks()" (change)="categorySelected = true">
            <option>Construcción</option>
            <option>Cuidado</option>
            <option>Domicilio</option>
            <option>Enseñanza</option>
            <option>Eventos</option>
            <option>Reparación</option>
            <option>Salud</option>
            <option>Vehículo</option>
            <option>Vestimenta</option>
            <option>Viaje</option>
          </select>
          <label for="category" class="form_label">Categoria:</label>
        </div>
       
        <div class="form_group">
          <select id="job" name="job" class="form_input" [(ngModel)]="job" >
            <option *ngIf="!categorySelected" value="" disabled>Por favor, selecciona una categoría primero</option>
            <option *ngFor="let j of jobs[category]" [value]="j">{{j}}</option>
          </select>
          <label for="job" class="form_label">Oficio</label>
        </div>
  
        <div class="form_group ">
          <select id="contract" name="contract" class="form_input" [(ngModel)]="contract" (change)="filterWorks()" >
            <option>Indefinido</option>
            <option>Duración determinada</option>
            <option>Autónomo</option>
          </select>
          <label for="contract" class="form_label">Contrato:</label>
        </div>
  
        <div class="form_group ">
          <select id="workTime" name="workTime" class="form_input"  [(ngModel)]="workTime" (change)="filterWorks()" >
            <option>Completa</option>
            <option>Parcial</option>
            <option>Flexible</option>
            <option>Intensiva</option>
          </select>
          <label for="workTime" class="form_label">Jornada:</label>
        </div>
  
        <div class="form_group ">
          <select id="experience" name="experience" class="form_input" [(ngModel)]="experience" (change)="filterWorks()" >
            <option>Inicial</option>
            <option>Medio</option>
            <option>Experto</option>
          </select>
          <label for="experience" class="form_label">Experiencia:</label>
        </div> 
      </div>

      <div *ngIf="workList?.length === 0" class="alert alert-primary" role="alert">
        No hay resultados encontrados.
      </div>
   
      <div class="grid-container">
        <div class="grid-item" *ngFor="let work of workList">
          <div class="card">
            <div class="card-header">
              {{work.category}}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{work.lender.name}} {{work.lender.lastName}}</h5>
              <div class="card-text">
                <p style="margin:0"><i class='bx bx-briefcase-alt-2'></i> {{work.job}}</p>
                <p style="margin:0"><i class='bx bx-time' ></i> {{work.workTime}}</p>
                <p><i class='bx bx-calendar'></i> Publicado: {{work.creationDate | date: 'dd/MM/yyyy' }}</p>
              </div>
              
              <button  class="btn more-information" (click)="detailLenderWork(work)">Más información</button>
            </div>
          </div>
        </div>
      </div>
      
    </form>
  </div>
