<div class="container">
    <form (ngSubmit)="UpdateDataLender()"  class="form font1">
      
      <h3 class="form_title_service">Nuevo servicio</h3>
  
      <div class="form_container">
  
        <div class="form_group ">
          <select id="category" name="category" class="form_input" [(ngModel)]="category" (change)="categorySelected = true">
            <option>Construcción</option>
            <option>Cuidado</option>
            <option>Domicilio</option>
            <option>Enseñanza</option>
            <option>Eventos</option>
            <option>Reparación</option>
            <option>Salud</option>
            <option>Vehículo</option>
            <option>Vestimenta</option>
            <option>Viaje</option>
          </select>
          <label for="category" class="form_label">Categoría</label>
        </div>
        
        <div class="form_group">
          <select id="job" name="job" class="form_input" [(ngModel)]="job" >
            <option *ngIf="!categorySelected" value="" disabled>Por favor, selecciona una categoría primero</option>
            <option *ngFor="let j of jobs[category]" [value]="j">{{j}}</option>
          </select>
          <label for="job" class="form_label">Oficio</label>
        </div>
  
        <div class="form_group ">
          <select id="contract" name="contract" class="form_input" [(ngModel)]="contract"  >
            <option>Indefinido</option>
            <option>Duración determinada</option>
            <option>Autónomo</option>
          </select>
          <label for="contract" class="form_label">Contrato</label>
        </div>
  
        <div class="form_group ">
          <select id="workTime" name="workTime" class="form_input" [(ngModel)]="workTime" >
            <option>Completa</option>
            <option>Parcial</option>
            <option>Flexible</option>
            <option>Intensiva</option>
          </select>
          <label for="workTime" class="form_label">Jornada</label>
        </div>
  
        <div class="form_group ">
          <select id="experience" name="experience" class="form_input" [(ngModel)]="experience" >
            <option>Inicial</option>
            <option>Medio</option>
            <option>Experto</option>
          </select>
          <label for="experience" class="form_label">Experiencia</label>
        </div>
  
        <div class="form_group ">
          <select id="area"  name="area" class="form_input" [(ngModel)]="area" >
            <option>Cochabamba</option>
            <option>Sacaba</option>
            <option>Quillacollo</option>
            <option>Tiquipaya</option>
          </select>
          <label for="area" class="form_label">Municipio</label>
        </div>
  
        <div class="form_group">
          <input type="text" id="salary" name="salary" class="form_input" [(ngModel)]="salary" placeholder=" " required autocomplete="off">
            <label for="salary" class="form_label">Precio por servicio</label>
            <span class="form_line"></span>
        </div>
  
        <div class="form_group">
          <input type="text" id="address" name="address" class="form_input" [(ngModel)]="address" placeholder=" "  required autocomplete="off">
            <label for="address" class="form_label">Dirección</label>
            <span class="form_line"></span>
        </div>
      </div>

      <div class="form_group">
        <input type="text" id="description"  [(ngModel)]="description" name="description" class="form_input"  placeholder=" " required autocomplete="off">
        <label for="description" class="form_label">Descripción del servicio</label>
        <span class="form_line"></span>
      </div>
  
      <p>Marque su ubicación exacta de trabajo</p>
      
      <google-map width="100%" height="300" [center]="center" [zoom]="zoom" (mapClick)="onMapClick($event)" >
            <map-marker *ngIf="markerPosition" [position]="markerPosition"></map-marker>
      </google-map>
        <button type="button" class="form_submit btn" (click)="UpdateDataLender()">Continuar</button>
    </form>
  </div>
