<nav class="navbar navbar-expand-lg font1">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/img/logo_negro.png" alt="Nexa" width="53" height="43">
    </a>
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/img/logo_letra_negra.png" alt="Nexa" width="100" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class='bx bx-menu'></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="iniciarSesion">
            <button type="button" class="btn btn-primary">Ingresa</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>



  