/*  COLORES DE PAGINA
171738
2E1760
3423A6
7180B9
7FB5FF
*/
.collapse .nav-item{
    padding: 5px;
}

.btn-outline-primary{
    color: #000000;
    border-color: #000000;
    border-radius: 20px;
}

.btn-outline-primary:hover{
    color: #FFFFFF;
    background-color: #000000;
    border-color: #000000;
}

.btn-primary{
    border-radius: 20px;
    width: 130px;
    background-color: #000000;
    border-color: #000000;
}

.btn-primary:active{
    background-color: #7180B9;
    border-color: #7180B9;
}

