.navbar {
    height: 104px;
    padding: 30px 50px;
  }

  .navbar-nav a {
    padding: 9px 20px;
  }

  .navbar-brand {
    margin-right: 0 !important;
  }
  
  .navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  .form-inline {
    display: flex;
    justify-content: flex-end;
  }

  .nav-link {
    font-size: 12px;
  }

  .btn {
    background-color: black;
    padding: 12px 25px;
    color: white;
    font-size: 12px;
    
  }
  
  @media (min-width: 992px) {
    .navbar-collapse {
      justify-content: flex-start;
    }
  }