<app-header></app-header>
<section class="main py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7">
                <h1>Encuentra todo lo que necesitas</h1>
                <button class="btn1 py-4 mt-3">
                    Explorar
                </button>
            </div>
        </div>
    </div>
</section>

<section class="ceta py-3">
    <div class="container-fluid py-3 text-center">
        <h1>Categorias</h1>
        <div class="row">
            <div class="col-lg-9 m-auto pt-3">
                <div class="row py-5">
                    <div class="col-lg-3">
                        <div class="card py-3">
                            <div class="card-body">
                                <img src="../../../../assets/img/icon1.png" alt="" class="img-fluid">
                                <h6>Reparación</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card py-3">
                            <div class="card-body">
                                <img src="../../../../assets/img/icon2.png" alt="" class="img-fluid">
                                <h6>Hogar</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card py-3">
                            <div class="card-body">
                                <img src="../../../../assets/img/icon3.png" alt="" class="img-fluid">
                                <h6>Cuidado</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card py-3">
                            <div class="card-body">
                                <img src="../../../../assets/img/icon4.png" alt="" class="img-fluid">
                                <h6>Enseñanza</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row py-5">
                        <div class="col-lg-5 m-auto">
                            <button class="btn2">Más información</button>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="job">
    <div class="container ">
        <div class="row">
            <div class="col-lg-7">
                <p class="premisa">Lo que hacemos</p>
                <h1 >Búsqueda y contratación</h1>
                <p class="py-4" style="font-weight: 700;">
                    La búsqueda y evaluación de proveedores se ha convertido en uno de los aspectos clave dentro de la gestión logística y comercial de cualquier compañía.
                </p>
                <p>Actualmente, no puede entenderse a un proveedor como un agente externo de la empresa. Es una de las partes fundamentales. Mantener una comunicación de igualdad con ellos reportará beneficios a la empresa.</p>
            <button class="btn3 mt-3">Visitar</button>
            </div>
            <div class="col-lg-5">
                <img src="../../../../assets/img/img2.jfif" class="img-fluid" style="height:100%; width: 100%;">
                 
            </div>
        </div>
    </div>
</section>

<section class="apply py-5">
    <div class="container text-center ">
        <h1>¿Cómo funciona?</h1>
        <div class="row py-5">
            <div class="col-lg-3">
                <div class="card p-3">
                    <div class="card-body text-center">
                        <div class="cir1 ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-person-circle py-1" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                              </svg>
                              <h5>1. Crea una cuenta</h5>
                              <p>Elige que rol cumplirás</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card p-3">
                    <div class="card-body text-center">
                        <div class="cir1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-check-circle-fill py-1" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                              </svg>
                              <h5>2. Completa tu perfil</h5>
                              <p>Dejate conocer</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card p-3">
                    <div class="card-body text-center">
                        <div class="cir1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-briefcase-fill py-1" viewBox="0 0 16 16">
                                <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"/>
                                <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>
                              </svg>
                              <h5>3. Oferta o búsqueda </h5>
                              <p>Nos interesa que deseas</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card p-3">
                    <div class="card-body text-center">
                        <div class="cir1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-laptop-fill py-1" viewBox="0 0 16 16">
                                <path d="M2.5 2A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"/>
                              </svg>
                              <h5>EMPIEZA</h5>
                              
                              <button class="btn4">
                                Explorar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="information">
    <div class="container">
        <div class="row">
            
        </div>
    </div>
</section>