/* primer container */
.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    height: 730px;
    background-color: #7180B9;
    margin-bottom: 100px;

  }

  .half:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .half img {
    width: 100%; /* Ocupa el ancho completo del contenedor */
    height: 100%; /* Ocupa la altura completa del contenedor */
    object-fit: cover; /* Ajusta el tamaño de la imagen para llenar el contenedor */
  }
  
  .half {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  h1 {
    font-size: 56px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
  }

  h1 .name{
    color: black;
  }
  
  p {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    max-width: 510px;
    color: #FFFFFF;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .beggining{
    padding: 12px 24px;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
  }

  img {
    width: 730px;
    max-width: 100%; 
  }
  
  @media (max-width: 768px) {
    .half {
      width: 100%;
      height: 50%;
    }
  
    .centered {
      height: 100%;
      text-align: center;
    }
  
    h1 {
      font-size: 42px;
    }
  
    p {
      font-size: 20px;
    }
  
    .button-container {
      align-items: center;
    }
  }

 /* segundo container */

 .choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .text-believe, .text-paragrapf {
    text-align: center;
  }

  .text-believe{
    margin: 0px 0px 10px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #6C757D;
    opacity: 0.5;
  }

  .text-paragraph{
    margin: 0px 0px 15px;
    font-size: 30px;
    letter-spacing: -0.01rem;
    max-width: 1000px;
    text-align: center;
    line-height: 1.2;
    font-weight: 600;
    text-transform: none;
    font-family: 'Poppins', sans-serif;
  }
  .resaltado{
    color: #3423A6;
    font-family: 'Montserrat', sans-serif;
  }

  

/* tercer container */

.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .card {
    width: 393px;
    height: 157px;
    
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
  }
  
  .card-content {
    display: flex;
  }
  
  .card-left {
    width: 25%;
    box-sizing: border-box;
    font-size: 40px;
    color: #3423A6;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  
  .card-right {
    width: 75%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .titulos-card{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
   font-weight: 600;
  }

  /* tercer container */

  .whatwedo {
    display: flex;
    flex-wrap: wrap;
 
  }

  .part {
    width: 50%;
    margin-top: 50px;
    box-sizing: border-box;
  }

  .part img {
    width: 100%;
    height: auto;
  }

  .title{
    font-size: 26px;
    margin-left: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  .secondary-text{
    font-size: 17px;
    margin-left: 70px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
  }
  .points-view{
    margin-left: 70px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
  }

  .btn-whatwedo{
    padding: 8px 16px;
    background-color: #000000;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 70px;
    margin-top: 25px;
  }

  @media screen and (max-width: 600px) {
    .part {
      width: 100%;
    }
  }