<app-header></app-header>

<div class="container-flex">
    <div class="half">
      <div class="centered">
        <h1>Bienvenido a <span class="name">Nexa</span></h1>
        <div class="button-container">
            <p>Aportamos soluciones para hacer la vida más fácil </p>
            <a href="iniciarSesion">
              <button class="btn beggining">Empezar</button>
            </a>
           
          </div>
      </div>
    </div>
    <div class="half">
      <img class="imagen" src="../../../../assets/img/opcion1.jpg" alt="Descripción de la imagen">
    </div>
  </div>

<div class="container choose">
    <div class="text-believe">¿POR QUÉ ELEGIRNOS?</div>
    <div class="text-paragraph">
        <h2 class="text-paragraph"> Te brindamos la comodidad de encontrar el servicio de tu preferencia al alcance de una <span class="resaltado">búsqueda</span> </h2>
    </div>
</div>

<div class="container reasons">
  <div class="card-row">
      <div class="card reason">
        <div class="card-content">
          <div class="card-left">
            01
          </div>
          <div class="card-right">
              <h4 class="titulos-card">Búsqueda geolocalizada</h4>
              Optimizamos tu experiencia ofreciendo contenido personalidado.
          </div>
        </div>
      </div>
      <div class="card reason">
        <div class="card-content">
          <div class="card-left">
            02
          </div>
          <div class="card-right">
              <h3 class="titulos-card">Prestación de servicios</h3>
              Elige a la persona adecuada a tus necesidades en cualquier momento.
          </div>
        </div>
      </div>
      <div class="card reason">
        <div class="card-content">
          <div class="card-left">
            03
          </div>
          <div class="card-right">
              <h3 class="titulos-card">Contratos inmediatos</h3>
              Formalizamos un acuerdo entre dos partes para generar estabilidad y confianza 
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container whatwedo">
  <div class="part">
    <img src="../../../../assets/img/opcion2.jpg" alt="Descripción de la imagen">
  </div>
  <div class="part jus-text">
  
    <div class="title">
      Beneficios de utilizar nuestra plataforma
    </div>
    <div class="secondary-text">
      Estamos comprometidos en brindarte una experiencia confiable y satisfactoria al encontrar y contratar servicios mediante nuestra plataforma. ¡Explora nuestras opciones y encuentra el servicio ideal cerca de ti!
    </div>
    <div class="points-view">
      <div><i class='bx bx-check-circle'></i> Experiencia personalizada basada en tu ubicación geográfica.</div>
      <div><i class='bx bx-check-circle'></i> Acceso a una red de prestadores de servicios confiables.</div>
      <div><i class='bx bx-check-circle'></i> Modelo de contrato disponible para generar estabilidad.</div>
      
    </div>
  </div>
</div>


<div class="container howitworks" id="howWoks">
  <div class="text-howitwork">¿CÓMO FUNCIONA?</div>
    <div class="text-paragraph-howitworks">
        <h2> 
          Explora nuestra plataforma y descubre cómo podemos ayudarte a encontrar los servicios que necesitas de manera rápida y sencilla. </h2>
      </div>
    <div class="text-explain">
      <h4>¡Aprovecha nuestros servicios ahora!</h4>
    </div>
</div>



<div class="container stepsForAplication">
  <div class="row row-cols-1 row-cols-md-3 g-5">
    <div class="col">
      <div class="card stepsToFollow">
        <div class="card-body steps flex-column align-items-center">
          <i class='bx bx-task' style='font-size: 60px;'></i>
          <h5 class="card-title-steps">Registro</h5>
          <p class="card-all-explaination">Para acceder a todos los servicios y funcionalidades, necesitas registrarte o iniciar sesión en tu cuenta. ¡Regístrate ahora!</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card stepsToFollow">
        <div class="card-body steps flex-column align-items-center">
          <i class='bx bx-world' style='font-size: 60px;'></i>
          <h5 class="card-title-steps">Geolocalización</h5>
          <p class="card-all-explaination">Navega en nuestro sistema utilizando la tecnología de geolocalización para mostrarte los prestadores de servicio más cercanos a tu ubicación</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card stepsToFollow">
        <div class="card-body steps flex-column align-items-center">
          <i class='bx bx-conversation' style='font-size: 60px;'></i>
          <h5 class="card-title-steps">Comunicate</h5>
          <p class="card-all-explaination">Encuentra al prestador de servicio que se ajuste a tus necesidades y recuerda comunicarte para que puedas discutir los detalles.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container part-us" id="partUS">
  <div class="part jus-text">
    <div class="title-us">
      A cerca de Nexa
    </div>
    <div class="secondary-text-us">
      En Nexa, nos dedicamos a brindar una plataforma innovadora que conecta a usuarios y prestadores de servicio a través de la geolocalización. Nuestro objetivo es facilitar el acceso a servicios de calidad, optimizando la experiencia tanto para quienes buscan servicios como para quienes los ofrecen.
    </div>
    <div class="points-view-us">
      <div><i class='bx bx-check-circle'></i> Nos esforzamos por ofrecer servicios de alta calidad que satisfagan las necesidades y expectativas de nuestros usuarios.</div>
      <br>
      <div><i class='bx bx-check-circle'></i> Establecemos relaciones basadas en la confianza, tanto con nuestros usuarios como con los prestadores de servicio en nuestra plataforma.</div>
      <br>
      <div><i class='bx bx-check-circle'></i> Buscamos constantemente nuevas formas de mejorar y optimizar nuestra plataforma, brindando soluciones eficientes.</div>
      
    </div>
  </div>
  <div class="part">
    <img class="second-image" src="../../../../assets/img/opcion3.jpg" alt="Descripción de la imagen">
  </div>
</div>

<app-footer></app-footer>
