<app-header></app-header>

<div class="container-flex">
    <div class="half">
      <div class="centered">
        <h1>Bienvenido a <span class="name">Nexa</span></h1>
        <div class="button-container">
            <p>Aportamos soluciones para hacer la vida más fácil </p>
            <button class="btn beggining">Empezar</button>
          </div>
      </div>
    </div>
    <div class="half">
      <img class="imagen" src="../../../../assets/img/opcion1.jpg" alt="Descripción de la imagen">
    </div>
  </div>

<div class="container choose">
    <div class="text-believe">¿POR QUÉ ELEGIRNOS?</div>
    <div class="text-paragraph">
        <h2 class="text-paragraph"> Te brindamos la comodidad de encontrar el servicio de tu preferencia al alcance de una <span class="resaltado">búsqueda</span> </h2>
    </div>
</div>


<div class="container reasons">
    <div class="card-row">
        <div class="card reason">
          <div class="card-content">
            <div class="card-left">
              01
            </div>
            <div class="card-right">
                <h4 class="titulos-card">Búsqueda geolocalizada</h4>
                Optimizamos tu experiencia ofreciendo contenido personalidado.
            </div>
          </div>
        </div>
        <div class="card reason">
          <div class="card-content">
            <div class="card-left">
              02
            </div>
            <div class="card-right">
                <h3 class="titulos-card">Prestación de servicios</h3>
                Elige a la persona adecuada a tus necesidades en cualquier momento.
            </div>
          </div>
        </div>
        <div class="card reason">
          <div class="card-content">
            <div class="card-left">
              03
            </div>
            <div class="card-right">
                <h3 class="titulos-card">Contratos inmediatos</h3>
                Formalizamos un acuerdo entre dos partes para generar estabilidad y confianza 
            </div>
          </div>
        </div>
      </div>
</div>


<div class="container whatwedo">
  <div class="part">
    <img src="../../../../assets/img/opcion2.jpg" alt="Descripción de la imagen">
  </div>
  <div class="part jus-text">
  
    <div class="title">
      Ejemplo del titulo
    </div>
    <div class="secondary-text">
      Donec ullamcorper nulla non metus auctor fringilla. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, fermentum massa justo sit amet risus.
    </div>
    <div class="points-view">
      <div><i class='bx bx-check-circle'></i> Aenean eu leo quam. Pellentesque ornare.</div>
      <div><i class='bx bx-check-circle'></i> Aenean eu leo quam. Pellentesque ornare.</div>
      <div><i class='bx bx-check-circle'></i> Aenean eu leo quam. Pellentesque ornare.</div>
      
    </div>
    <div class="start">
      <button class="btn btn-whatwedo">Empezar</button>
    </div>
  </div>
</div>

<div class="container howitworks">
  <div class="text-howitwork">¿CÓMO FUNCIONA?</div>
    <div class="text-paragraph-howitworks">
        <h2> Donec ullamcorper nulla non metus auctor fringil</h2>
      </div>
    <div class="text-explain">
      <h4> Donec ullamcorper nulla non metus auctor fringil.</h4>
    </div>
</div>
<!-- 

<div class="container categories">
  <div class="top-row">
    <div class="card category">
      <i class='bx bxs-car bx-flip-horizontal' ></i>
      <span class="text">Vehículo</span>
    </div>
    <div class="card category">
      <i class='bx bxs-building-house'></i>
      <span class="text">Domicilio</span>
    </div>
    <div class="card category">
      <i class='bx bxs-heart bx-flip-horizontal' ></i>
      <span class="text">Cuidado personal</span>
    </div>
    <div class="card category">
      <i class='bx bxs-wrench' ></i>
      <span class="text">Reparación</span>
    </div>
  </div>
  <div class="bottom-row">
    <div class="card category">
      <i class='bx bxs-layer' ></i>
      <span class="text">Construcción</span>
    </div>
    <div class="card category">
      <i class='bx bxs-t-shirt' ></i>
      <span class="text">Vestimenta</span>
    </div>
    <div class="card category">
      <i class='bx bxs-graduation'></i>
      <span class="text">Enseñanza</span>
    </div>
  </div>
</div> -->


