/* primer container */
.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    height: 80vh;
    background-color: #7180B9;
    margin-bottom: 100px;

  }

  .half:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .half img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
  }
  
  .half {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  h1 {
    font-size: 2.9vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
  }

  h1 .name{
    color: black;
  }
  
  p {
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    max-width: 510px;
    color: #FFFFFF;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .beggining{
    padding: 12px 24px;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
  }
   .beggining:hover{
    background-color: #FFFFFF;
    color: #000000;
    font-family: 'Poppins', sans-serif;
  }

  img {
    width: 100%;
    height: auto;; 
  }
  
  @media screen and (max-width: 768px) {
    .container-flex {
      height: auto;
    }
    
    .half {
      width: 100%;
    }
    
    .half:last-child {
      order: -1;
    }
    
    h1 {
      font-size: 5.5vw;
      margin-top: 1rem;
    }
    
    p {
      font-size: 3vw;
    }

    .beggining{
      padding: 6px 12px;
      background-color: black;
      color: white;
      font-family: 'Poppins', sans-serif;
      margin-bottom: 1rem;
    }
  }


 /* segundo container */

 .choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .text-believe, .text-paragrapf {
    text-align: center;
  }

  .text-believe{
    margin: 0px 0px 10px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #6C757D;
    opacity: 0.5;
  }

  .text-paragraph{
    margin: 0px 0px 15px;
    font-size: 30px;
    letter-spacing: -0.01rem;
    max-width: 1000px;
    text-align: center;
    line-height: 1.2;
    font-weight: 600;
    text-transform: none;
    font-family: 'Poppins', sans-serif;
  }
  .resaltado{
    color: #3423A6;
    font-family: 'Montserrat', sans-serif;
  }

  @media screen and (max-width: 480px) {
    .text-paragraph {
      font-size: 15px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .text-paragraph {
      font-size: 20px;
    }
  }

/* tercer container */

.card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .reason {
    width: 393px;
    height: 157px;
    
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
  }

  .card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}
  
  .card-content {
    display: flex;
  }
  
  .card-left {
    width: 25%;
    box-sizing: border-box;
    font-size: 40px;
    color: #3423A6;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }
  
  .card-right {
    width: 75%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .titulos-card{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
   font-weight: 600;
  }
  .card-all-explaination {
    text-align: center;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 768px) {
    .card-row {
      flex-direction: column;
      align-items: center;
    }
    
    .reason {
      width: 100%;
      height: auto;
      margin-bottom: 30px;
    }
    
    .card-left {
      font-size: 25px;
    }
    
    .titulos-card {
      font-size: 15px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .card-row {
      justify-content: center;
    }
    
    .reason {
      margin-right: 15px;
      margin-left: 15px;
    }
  }
  
  

  /* cuarto container */

  .whatwedo {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  .part {
    width: 100%;
    margin-top: 50px;
    box-sizing: border-box;
  }

  .part img {
    width: 100%;
    height: auto;
  }

  .title{
    font-size: 26px;
    margin-left: 70px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  .secondary-text{
    font-size: 17px;
    margin-left: 70px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
  }
  .points-view{
    margin-left: 70px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
  }

  .btn-whatwedo{
    padding: 8px 16px;
    background-color: #000000;
    border: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 70px;
    margin-top: 25px;
  }
  @media screen and (max-width: 768px) {
    .whatwedo {
      flex-direction: column;
      align-items: center;
    }
  
    .part {
      display: flex;
    flex-direction: column;
    align-items: center;
    }
    
   
  
    .title, .secondary-text {
      margin-left: 0;
      text-align: center;
    }

    .btn-whatwedo, .points-view {
      margin-left: 0;
      text-align: center;
    }
  }
  

    /* quinto container */

    .howitworks {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
    }

    .text-howitwork{
      margin: 0px 0px 10px;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      color: #6C757D;
      opacity: 0.5;
    }

    h2{
      font-size: 25px;
    }

    .text-paragraph-howitworks{
     
      text-align: center;
      font-family: 'Poppins', sans-serif;
    }
    .text-explain{
      color: #000000;
      font-family: 'Poppins', sans-serif;
      max-width: 500px;
    }
    h4{
      font-size: 20px;
    }

    @media screen and (max-width: 768px) {
      .howitworks {
        padding: 0 20px;
      }
    
      h2 {
        font-size: 20px;
      }
    
      .text-explain {
        text-align: center;
        margin-top: 20px;
      }
    
      h4 {
        font-size: 16px;
      }
    }

    /* sexto coinatiner */

  
     .stepsForAplication{
      margin-bottom: 50px;
     }
   .stepsToFollow{
    height: 370px;
    width: 370px;
   }

   .steps{
    padding: 88px 48px 80px;
    justify-content: center;
    
    display: flex;
   }

   .card-title-steps{
    margin: 15px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
   }
   .card-all-explaination{
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
   }

   @media screen and (max-width: 768px) {
    .stepsForAplication {
      margin-bottom: 50px;
    }
  
    .stepsToFollow {
      height: auto;
      width: 100%;
      max-width: 370px;
      margin: 0 auto;
    }
  
    .steps {
      padding: 50px 30px;
    }
  
    .card-title-steps {
      font-size: 16px;
      text-align: center;
    }
  
    .card-all-explaination {
      font-size: 13px;
      text-align: center;
    }
  }
   /* septimo container */

   
  .part-us {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .part {
    width: 50%;
    margin-top: 50px;
    box-sizing: border-box;
  }

  img.second-image {
    width: 100%;
    height: auto;
    margin-left: 70px;
  }

  .title-us{
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
  }
  .secondary-text-us{
    font-size: 17px;
    
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
  }
  .points-view-us{
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
  }

  @media screen and (max-width: 768px) {
    .part-us {
      flex-direction: column-reverse;
    }
  
    .part {
      width: 100%;
      margin-top: 20px;
    }
  
    img.second-image {
      margin-left: 0;
    }
  
    .title-us {
      font-size: 22px;
      text-align: center;
    }
  
    .secondary-text-us {
      font-size: 16px;
      margin-top: 20px;
      text-align: center;
    }
  
    .points-view-us {
      margin-top: 20px;
      text-align: center;
    }
  }

  