<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="../../../../assets/img/opcion10.jpg" class="d-block w-100" alt="..." style="height: 730px; object-fit: cover;">
      <div class="carousel-caption d-none d-md-block">
        <h5>Registra tu oferta de servicios</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../../../../assets/img/opcion9.jpg" class="d-block w-100" alt="..." style="height: 730px; object-fit: cover;">
      <div class="carousel-caption d-none d-md-block">
        <h5>Descarga modelos de contrato para tus proyectos</h5>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../../assets/img/opcion6.jpg" class="d-block w-100" alt="..." style="height: 730px; object-fit: cover;">
      <div class="carousel-caption d-none d-md-block">
        <h5>Conexión entre usuarios y prestadores de servicio</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="container whatwedo">
  <div class="part">
    <img src="../../../../assets/img/opcion11.jpg" alt="Descripción de la imagen">
  </div>
  <div class="part jus-text">
  
    <div class="first-title">
      Registra tus servicios y llega a más clientes
    </div>
    <div class="secondary-text">
      En nuestra plataforma, te ofrecemos la oportunidad de registrar tus servicios. Al registrarte como prestador de servicios, podrás disfrutar de las siguientes ventajas:
    </div>
    <div class="points-view">
      <div><i class='bx bx-check-circle'></i> Visibilidad mejorada: Tus servicios estarán disponibles para que los usuarios interesados te encuentren fácilmente.</div>
      <div><i class='bx bx-check-circle'></i> Alcance geográfico: Mediante la geolocalización, los usuarios que se encuentren cerca de tu ubicación podrán ver tus servicios.</div>
      <div><i class='bx bx-check-circle'></i> Expansión de tu clientela: Al llegar a más usuarios a través de nuestra plataforma, tendrás la oportunidad de ampliar tu base de clientes.</div>
    </div>
  </div>
</div>


<div class="card-row">
  <div class="card category">
    <i class='bx bx-car icon-category'></i>
    <p class="card-text-category">Vehículo</p>
  </div>
  <div class="card category">
    <i class='bx bx-building-house icon-category' ></i>
    <p class="card-text-category">Domicilio</p>
  </div>
  <div class="card category">
    <i class='bx bx-wrench icon-category'></i>
    <p class="card-text-category">Reparación</p>
  </div>
  <div class="card category">
    <i class='bx bx-hard-hat icon-category'></i>
    <p class="card-text-category">Construcción</p>
  </div>
</div>


<div class="container part-us" id="partUS">
  <div class="part jus-text">
    <div class="title-us">
      Registro de contratos vigentes y terminados
    </div>
    <div class="secondary-text-us">
      En nuestra plataforma, podrás tener un registro detallado de todos los contratos que hayas realizado, tanto los vigentes como los terminados. Aprovecha esta funcionalidad y disfruta de las siguientes ventajas:
    </div>
    <div class="points-view-us">
      <div><i class='bx bx-check-circle'></i> Acceso rápido a la información: Encuentra fácilmente los detalles de cada contrato, como los datos del cliente yh el servicio que ofreciste, evitando la pérdida de información importante.</div>
      <div><i class='bx bx-check-circle'></i> Historial de servicios: Utiliza el registro de contratos como un historial detallado de los servicios que has brindado, lo que te permite tener un respaldo documental de tu experiencia.</div>
      <div><i class='bx bx-check-circle'></i> Seguridad y respaldo: Al tener un registro completo de tus contratos, cuentas con una evidencia sólida en caso de disputas o necesidad de referencias en el futuro.</div>
      
    </div>
  </div>
  <div class="part">
    <img class="second-image" src="../../../../assets/img/opcion12.jpg" alt="Descripción de la imagen">
  </div>
</div>



<div class="last-information">
  <h3 class="section-title">Conexión con usuarios interesados en tus servicios</h3>
  <p class="section-description">Gracias a nuestra funcionalidad de geolocalización</p>
  <div class="section-divider-line"></div>
  <div class="card-container">
    <div class="card important-information">
      <h4 class="card-title-information">Mayor exposición</h4>
      <i class='bx bx-map-pin icon-information'></i>
      <p class="card-description">Los usuarios que se encuentren cerca de tu ubicación podrán ver tus servicios en la lista de opciones disponibles.</p>
    </div>
    <div class="card important-information">
      <h4 class="card-title-information">Notificaciones</h4>
      <i class='bx bx-bell icon-information' ></i>
      <p class="card-description">Recibe notificaciones cuando se presente una nueva solicitud de servicio, lo que te permite responder de manera oportuna.</p>
    </div>
    <div class="card important-information">
      <h4 class="card-title-information">Mejora continua</h4>
      <i class='bx bx-line-chart icon-information'></i>
      <p class="card-description">Utiliza las calificaciones y comentarios como una herramienta para identificar áreas de mejora.</p>
    </div>
  </div>
</div>

