<!-- AUMENTAR TERMINOS Y CONDICIONES -->

<div class="container">
  <form (ngSubmit)="register()" [formGroup]="form" class="form font1">
  
    <h3 class="form_title">Regístrate</h3>
    <div class="form_container">
      <div class="form_group">
        <input type="email" id="email" name="email" class="form_input" formControlName="email" placeholder=" " required autocomplete="off" required>
        <label for="email" class="form_label">Correo</label>
        <span class="form_line"></span>
        <div class="error-message" *ngIf="form.get('email').touched && form.get('email').hasError('email')">
          Ingresa un correo electrónico válido.
        </div>
      </div>

      <div class="form_group">
        <input type="password" id="password" name="password" class="form_input" formControlName="password" placeholder=" ">
        <label for="password" class="form_label">Contraseña</label>
        <span class="form_line"></span>
        <div *ngIf="form.get('password').errors?.pattern && form.get('password').touched" class="error-message">
          Ingresa una contraseña válida con mínimo 6 caracteres y al menos un símbolo.
        </div>
      </div>
  
      <div class="form_group">
        <input type="password" id="repeatPassword" name="repeatPassword"  class="form_input" formControlName="repeatPassword" placeholder=" ">
        <label for="repeatPassword" class="form_label">Repetir contraseña</label>
        <span class="form_line"></span>
        <div *ngIf="form.errors?.passwordMismatch && form.get('repeatPassword').touched" class="error-message">
          Ingresa la misma contraseña.
        </div>
      </div>

      <div class="form_group">
        <input class="form-check-input me-2" type="radio" name="user" id="user" value="user" (change)="Onchange($event)">
        <label class="form-check-label me-2" for="user">Usuario</label>
        <input class="form-check-input me-2" type="radio" name="user" id="worker" value="worker" (change)="Onchange($event)">
        <label class="form-check-label me-2" for="worker">Contratista</label>
      </div>

      <button type="button" class="form_submit btn-primary btn-block" [disabled]="form.invalid" (click)="register()" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Registrarse</button>
      
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Verificación de correo electrónico</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Hemos enviado un correo de verificación a tu dirección de correo. Por favor, procede a verificar tu cuenta para poder acceder.
            </div>
            <div class="modal-footer">
              <button (click)="gotologin()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Entendido</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <hr>
    <p class="form_paragraph">¿Ya tienes una cuenta? <a href="iniciarSesion" class="form_link">Inicia sesión</a></p>
  </form>
  
</div>
