<div class="container">
  <form (ngSubmit)="UpdateDataLender()" class="form font1">
    <h3 class="form_title">Datos personales</h3>
    
    <div class="form_container">

        <div class="form_group">
          <input type="text" id="name" name="name" class="form_input" [(ngModel)]="name" placeholder=" ">
          <label for="name" class="form_label">Nombre:</label>
          <span class="form_line"></span>
        </div>
    
        <div class="form_group">
          <input type="text" id="lastName" name="lastName" class="form_input"  [(ngModel)]="lastName" placeholder=" ">
          <label for="lastName" class="form_label">Apellidos:</label>
          <span class="form_line"></span>
        </div>
  
        <div class="form_group">
          <input type="text" id="ci" name="ci" class="form_input"  [(ngModel)]="ci" placeholder=" ">
          <label for="ci" class="form_label">Ci:</label>
          <span class="form_line"></span>
        </div>

        <div class="form_group">
          <input type="text" id="phone" name="phone" class="form_input" [(ngModel)]="phone" placeholder=" ">
          <label for="phone" class="form_label">Celular:</label>
          <span class="form_line"></span>
        </div>

        <div class="form_group ">
          <select id="gender" class="form_input" [(ngModel)]="gender" name="gender">
            <option selected>Hombre</option>
            <option >Mujer</option>
          </select>
          <label for="gender" class="form_label">Género:</label>
        </div>

        <div class="form_group">
          <input type="text" id="description"  [(ngModel)]="description" name="description" class="form_input"  placeholder=" ">
          <label for="description" class="form_label">Sobre ti:</label>
          <span class="form_line"></span>
        </div>
    </div>

    <h3 class="form_title_service">Datos del servicio</h3>

    <div class="form_container">

      <div class="form_group ">
        <select id="category" class="form_input" [(ngModel)]="category" name="category">
          <option>Vehículo</option>
          <option>Domicilio</option>
          <option>Cuidado personal</option>
          <option>Reparación</option>
          <option>Construcción</option>
          <option>Vestimenta</option>
          <option>Enseñanza</option>
        </select>
        <label for="category" class="form_label">Categoria:</label>
      </div>
      
      <div class="form_group ">
        <select id="job" class="form_input" [(ngModel)]="job" name="job">
          <option>Electricista</option>
          <option>Mecánico</option>
        </select>
        <label for="job" class="form_label">Oficio:</label>
      </div>

      <div class="form_group ">
        <select id="contract" class="form_input" [(ngModel)]="contract" name="contract">
          <option>Indefinido</option>
          <option>Duración determinada</option>
          <option>Autónomo</option>
        </select>
        <label for="contract" class="form_label">Contrato:</label>
      </div>

      <div class="form_group ">
        <select id="workTime" class="form_input" [(ngModel)]="workTime" name="workTime">
          <option>Completa</option>
          <option>Parcial</option>
          <option>Flexible</option>
          <option>Intensiva</option>
        </select>
        <label for="workTime" class="form_label">Tiempo de jornada:</label>
      </div>

      <div class="form_group ">
        <select id="experience" class="form_input" [(ngModel)]="experience" name="experience">
          <option>Inicial</option>
          <option>Medio</option>
          <option>Experto</option>
        </select>
        <label for="experience" class="form_label">Experiencia:</label>
      </div>

      <div class="form_group ">
        <select id="area" class="form_input" [(ngModel)]="area" name="area">
          <option>Cochabamba</option>
          <option>Sacaba</option>
          <option>Quillacollo</option>
          <option>Tiquipaya</option>
        </select>
        <label for="area" class="form_label">Municipio:</label>
      </div>

      

      

      

      
  </div>
    
  </form>
</div>


<!-- <div class="container">
  <div class="card border-0">
      <form (ngSubmit)="UpdateDataLender()">
          <h4 class="text-center">Datos personales</h4>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="name" name="name" class="form-control" placeholder="Nombre" [(ngModel)]="name" required autocomplete="off"/>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Apellido" [(ngModel)]="lastName" required autocomplete="off"/>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="ci" name="ci" class="form-control" placeholder="Ci" [(ngModel)]="ci" required autocomplete="off"/>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="phone" name="phone" class="form-control"placeholder="Celular" [(ngModel)]="phone" required autocomplete="off"/>
              </div>
            </div>
          </div>
        
          <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="description" name="description" class="form-control" placeholder="Sobre ti" [(ngModel)]="description" required autocomplete="off"/>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  
                  <div class="form-group col-md-4">
                      <select id="gender" name="gender" class="form-select" [(ngModel)]="gender">
                       
                        <option>Mujer</option>
                        <option>Hombre</option>
                      </select>
                    </div>
                </div>
              </div>
            </div>


            <h4 class="text-center">Datos del servicio</h4>
            <div class="row mb-4">
              <div class="col">
                <div class="form-group col-md-12">
                    <select id="job" name="job" class="form-select" [(ngModel)]="job" required autocomplete="off">
                      <option selected>Oficio</option>
                      <option>Electricista</option>
                      <option>Mecánico</option>
                    </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group col-md-12">
                    <select id="contract" name="contract" class="form-select" [(ngModel)]="contract" required autocomplete="off">
                      <option selected>Contrato</option>
                      <option>Indefinido</option>
                      <option>Duración determinada</option>
                      <option>Autónomo</option>
                    </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group col-md-12">
                    <select id="category" name="category" class="form-select" [(ngModel)]="category" required autocomplete="off">
                      <option selected>Categoria</option>
                      <option>Cuidado</option>
                      <option>Reparacion</option>
                      <option>Ropa</option>
                    </select>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="salary" name="salary" class="form-control" placeholder="salary" [(ngModel)]="salary" required autocomplete="off"/>
                </div>
              </div>
              <div class="col">
                <div class="form-group col-md-12">
                    <select id="workTime" name="workTime" class="form-select" [(ngModel)]="workTime" required autocomplete="off">
                      <option selected>Tiempo de jornada</option>
                      <option>Completa</option>
                      <option>Parcial</option>
                      <option>Flexible</option>
                      <option>Intensiva</option>
                    </select>
                </div>
              </div>
            </div>

            
          
            <div class="row mb-4">
                <div class="col">
                    <div class="form-group col-md-12">
                        <select id="experience" name="experience" class="form-select" [(ngModel)]="experience" required autocomplete="off">
                          <option selected>Experiencia</option>
                          <option>Inicial</option>
                          <option>Medio</option>
                          <option>Experto</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group col-md-12">
                        <select id="area" name="area" class="form-select" [(ngModel)]="area" required autocomplete="off">
                          <option selected>Zona</option>
                          <option>Queru Queru</option>
                          <option>Sarco</option>
                          <option>Tiquipaya</option>
                        </select>
                    </div>
                </div>

                
                  
              

                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="direccion" name="direccion" class="form-control" placeholder="Dirección" [(ngModel)]="address" required autocomplete="off"/>
                      </div>
                </div>
              </div>

            <div class="text-center pt-1  pb-1">
              <button class="btn btn-primary btn-block fa-lg mb-3" type="button" (click)="UpdateDataLender()">Continuar</button>
            </div>
            
        </form>
        
  </div>
  
</div>
<google-map [center]="center" [zoom]="zoom" (mapClick)="onMapClick($event)">
  <map-marker *ngIf="markerPosition" [position]="markerPosition"></map-marker>
</google-map>

 -->


