<div class="container">
  <div class="card border-0">
      <form (ngSubmit)="onCreate()">
          <h4 class="text-center">Datos personales</h4>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="name" name="name" class="form-control" placeholder="Nombre" [(ngModel)]="name" required autocomplete="off"/>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Apellido" [(ngModel)]="lastName" required autocomplete="off"/>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input type="text" id="phone" name="phone" class="form-control"placeholder="Celular" [(ngModel)]="phone" required autocomplete="off"/>
              </div>
            </div>
          </div>
        
          <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="description" name="description" class="form-control" placeholder="Sobre ti" [(ngModel)]="description" required autocomplete="off"/>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  
                  <div class="form-group col-md-4">
                      <select id="gender" name="gender" class="form-control" [(ngModel)]="gender">
                        <option selected>Género</option>
                        <option>Mujer</option>
                        <option>Hombre</option>
                      </select>
                    </div>
                </div>
              </div>
            </div>
            <div class="text-center pt-1  pb-1">
              <button class="btn btn-primary btn-block fa-lg mb-3" type="button" (click)="onCreate()">Continuar</button>
            </div>
        </form>
  </div>
</div>


<!-- <div class="container">
    <div class="card border-0">
        <form (ngSubmit)="onCreate()">
            <h4 class="text-center">Datos del servicio</h4>
            <div class="row mb-4">
              <div class="col">
                <div class="form-group col-md-12">
                    <select id="job" name="job" class="form-control" [(ngModel)]="job" required autocomplete="off">
                      <option selected>Oficio</option>
                      <option>Electricista</option>
                      <option>Mecánico</option>
                    </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group col-md-12">
                    <select id="contract" name="contract" class="form-control" [(ngModel)]="contract" required autocomplete="off">
                      <option selected>Contrato</option>
                      <option>Indefinido</option>
                      <option>Duración determinada</option>
                      <option>Autónomo</option>
                    </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group col-md-12">
                    <select id="workTime" name="workTime" class="form-control" [(ngModel)]="workTime" required autocomplete="off">
                      <option selected>Tiempo de jornada</option>
                      <option>Completa</option>
                      <option>Parcial</option>
                      <option>Flexible</option>
                      <option>Intensiva</option>
                    </select>
                </div>
              </div>
            </div>
          
            <div class="row mb-4">
                <div class="col">
                    <div class="form-group col-md-12">
                        <select id="experience" name="experience" class="form-control" [(ngModel)]="experience" required autocomplete="off">
                          <option selected>Experiencia</option>
                          <option>Inicial</option>
                          <option>Medio</option>
                          <option>Experto</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group col-md-12">
                        <select id="area" name="area" class="form-control" [(ngModel)]="area" required autocomplete="off">
                          <option selected>Zona</option>
                          <option>Queru Queru</option>
                          <option>Sarco</option>
                          <option>Tiquipaya</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="direccion" name="direccion" class="form-control" placeholder="Dirección" [(ngModel)]="address" required autocomplete="off"/>
                      </div>
                </div>
              </div>
              
          </form>
    </div>
    <div class="text-center pt-1  pb-1">
      
        <button class="btn btn-primary btn-block fa-lg mb-3" type="button" (click)="onCreate()">Continuar</button>

      </div>
</div>-->

