<div class="container">
    <div class="card border-0">
        <form>
            <h4 class="text-center">Datos personales</h4>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="nombre" class="form-control" placeholder="Nombre" />
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="apellido" class="form-control" placeholder="Apellido"/>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="celular" class="form-control"placeholder="Celular" />
                </div>
              </div>
            </div>
          
            <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="apellido" class="form-control" placeholder="Sobre ti"/>
                  </div>
                </div>
                <div class="col">
                    <div class="form-group col-md-4">
                        <select id="inputState" class="form-control">
                          <option selected>Género</option>
                          <option>Mujer</option>
                          <option>Hombre</option>
                        </select>
                    </div>
                </div>
              </div>
          </form>
    </div>

    <div class="card border-0">
        <form>
            <h4 class="text-center">Datos del servicio</h4>
            <div class="row mb-4">
              <div class="col">
                <div class="form-group col-md-12">
                    <select id="inputState" class="form-control">
                      <option selected>Oficio</option>
                      <option>Electricista</option>
                      <option>Mecánico</option>
                    </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group col-md-12">
                    <select id="inputState" class="form-control">
                      <option selected>Contrato</option>
                      <option>Indefinido</option>
                      <option>Duración determinada</option>
                      <option>Autónomo</option>
                    </select>
                </div>
              </div>
              <div class="col">
                <div class="form-group col-md-12">
                    <select id="inputState" class="form-control">
                      <option selected>Tiempo de jornada</option>
                      <option>Completa</option>
                      <option>Parcial</option>
                      <option>Flexible</option>
                      <option>Intensiva</option>
                    </select>
                </div>
              </div>
            </div>
          
            <div class="row mb-4">
                <div class="col">
                    <div class="form-group col-md-12">
                        <select id="inputState" class="form-control">
                          <option selected>Experiencia</option>
                          <option>Inicial</option>
                          <option>Medio</option>
                          <option>Experto</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group col-md-12">
                        <select id="inputState" class="form-control">
                          <option selected>Zona</option>
                          <option>Queru Queru</option>
                          <option>Sarco</option>
                          <option>Tiquipaya</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="nombre" class="form-control" placeholder="Dirección" />
                      </div>
                </div>
              </div>
              
          </form>
    </div>
    <div class="text-center pt-1  pb-1">
        <button class="btn btn-primary btn-block fa-lg mb-3" type="button">Continuar</button>
      </div>
</div>

