<div class="container">
    <form class="form font1">
      <h3 class="form_title">Datos personales</h3>
      <div class="text-end">
        <a href="trabajador/editarInformación" class="btn btn-primary"><i class='bx bxs-edit'></i></a>
        <!-- <button type="button" class="btn btn-danger"><i class='bx bxs-trash' data-bs-toggle="modal" data-bs-target="#exampleModal"></i></button> -->
       <!-- Modal -->
       <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminación de la cuenta</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Estas seguro de esta decisión?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button  type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
            </div>
          </div>
        </div>
      </div>

      </div>
      <div class="form_container">
        
          <div class="form_group">
            <input [value]="detailLender?.name" type="text" id="name" name="name" class="form_input"  placeholder=" "  disabled readonly>
            <label for="name" class="form_label">Nombre</label>
            <span class="form_line"></span>
          </div>
      
          <div class="form_group">
            <input [value]="detailLender?.lastName" type="text" id="lastName" name="lastName" class="form_input"   placeholder=" "  disabled readonly>
            <label for="lastName" class="form_label">Apellidos</label>
            <span class="form_line"></span>
          </div>
    
          <div class="form_group">
            <input [value]="detailLender?.ci" type="text" id="ci" name="ci" class="form_input"   placeholder=" " disabled readonly>
            <label for="ci" class="form_label">Carnet de identidad</label>
            <span class="form_line"></span>
          </div>
  
          <div class="form_group">
            <input [value]="detailLender?.phone" type="text" id="phone" name="phone" class="form_input"  placeholder=" "  disabled readonly>
            <label for="phone" class="form_label">Celular</label>
            <span class="form_line"></span>
          </div>

          <div class="form_group">
            <input [value]="detailLender?.gender" type="text" id="gender" name="gender" class="form_input"  placeholder=" "  disabled readonly>
            <label for="gender" class="form_label">Género</label>
            <span class="form_line"></span>
          </div>

          <div class="form_group">
            <input [value]="detailLender?.birthdate" type="date" id="birthdate" name="birthdate" class="form_input" disabled readonly>
            <label for="birthdate" class="form_label">Fecha de nacimiento</label>
            <span class="form_line"></span>
          </div>
  
      </div>
    </form>
  </div>
