.main{
    background: url(../../../../assets/img/img1.jfif)no-repeat;
    background-size: cover;
    min-height: 95vh;
    width: 100%;
}
.main h1{
    font-size: 4rem;
    color: white;
}
.btn1{
    width: 20%;
    background-color: #7180B9;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
}

.btn1:hover{
    background: #171738;
}

img{
    width: 70px;
}
.ceta .card:hover{
    color: #7180B9;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: -3px 2px 19px 4px #171738;
-webkit-box-shadow: -3px 2px 19px 4px #171738;
-moz-box-shadow: -3px 2px 19px 4px #171738;

}

.btn2{
    width: 40%;
    height: 50px;
    border: none;
    background-color: #171738;
    color: white;
    transition: all 0.4s;
}
.btn2:hover{

    border: 1px solid #171738;
    background-color: transparent;
    color: #171738;
    transition: all 0.4s;
}

/* -----*/
.job h1{
    
    color: #171738;
}
.premisa{
    color: #7180B9;
}
.btn3{
    height: 60px;
    width: 20%;
    outline: none;
    border: none;
    background: #7180B9;
    color: white;
}
.btn3:hover{
    background: #171738;
    transition: all 0.4s;
}

/* -----*/

.btn4{
    width: 30%;
    height: 40px;
    background-color: #171738;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
}

.btn4:hover{
    background: #7180B9;
}