<div class="container">
  
    <form class="form font1">
      <h3 class="form_title_service">Tus contratos</h3>
      <div class="form_container">

        <div *ngIf="listNotificationWithWork?.length === 0" class="alert alert-primary" role="alert">
          Aún no tienes contratos.
        </div>
       
        <div *ngFor="let notification of listNotificationWithWork" class="card text-center">
            <div class="card-header">
              {{notification.work.job}}
            </div>
            <div class="card-body">
              <h5 class="card-title"> {{notification.work.lender.name}} {{notification.work.lender.lastName}}</h5>
              <div class="card-text">
                <p style="margin:0"><i class='bx bx-note'></i> Contrato: {{notification.work.contract}}</p>
                <p><i class='bx bx-time-five' ></i> Jornada: {{notification.work.workTime}}</p>
              </div>
              
              <button  class="btn btn-primary" (click)="detailService(notification)">Ver más</button>
            </div>
            <div class="card-footer text-muted">
              Estado: {{notification.state === 'recibido' ? 'aceptado': notification.state}}
            </div>
        </div>
      </div>
    </form>
  </div>
