<div class="container">
    <form  class="form font1">
      
      <h3 class="form_title_service">Detalle del servicio</h3>
      <star-rating [starType]="'svg'" [rating]="poinsOnetWork?.averagePoints" class="visual-only"></star-rating>
      

      <!-- Botón para abrir el modal -->
<button type="button" class="btn comments" data-bs-toggle="modal" data-bs-target="#scrollableModal">Comentarios</button>

<!-- Modal desplazable -->
<div class="modal fade" id="scrollableModal" tabindex="-1" aria-labelledby="scrollableModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scrollableModalLabel">Opiniones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <div *ngIf="messagesUser?.length === 0" class="alert alert-primary" role="alert">
            Aún no tiene comentarios.
          </div>

        <div *ngFor="let detail of messagesUser" class="card" >
            <div class="card-body">
              <h5 class="card-title"><i class='bx bx-user'></i> {{detail.user.name}} {{detail.user.lastName}}</h5>
              <star-rating  [starType]="'svg'" [rating]="detail?.point" readonly></star-rating>
              <p class="card-text">{{detail?.message}}</p>
              
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

        <div class="botones" style="margin-top: 15px;">
        <button (click)="updateService()" class="btn btn-primary" style="background-color: #7FB5FF; border: none;"><i class='bx bxs-edit'></i></button>
        <button type="button" class="btn btn-danger"><i class='bx bxs-trash' data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i></button>

        
   
          <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminación del servicio</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ¿Estás seguro de eliminar el servicio {{detailWork?.job}}?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button (click)="deleteService()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
          </div>
        </div>
      </div>
    </div>

      </div>
      <div class="form_container">

        <div class="form_group">
            <input [value]="detailWork?.category" type="text" id="category" name="category" class="form_input"  placeholder=" "  disabled readonly>
              <label for="category" class="form_label">Categoría</label>
              <span class="form_line"></span>
        </div>
  
        <div class="form_group">
            <input [value]="detailWork?.job" type="text" id="job" name="job" class="form_input"  placeholder=" "  disabled readonly>
              <label for="job" class="form_label">Oficio</label>
              <span class="form_line"></span>
        </div>

        <div class="form_group">
            <input [value]="detailWork?.contract" type="text" id="contract" name="contract" class="form_input"  placeholder=" "  disabled readonly>
              <label for="contract" class="form_label">Contrato</label>
              <span class="form_line"></span>
        </div>
        
        <div class="form_group">
            <input [value]="detailWork?.workTime" type="text" id="workTime" name="workTime" class="form_input"  placeholder=" "  disabled readonly>
              <label for="workTime" class="form_label">Jornada</label>
              <span class="form_line"></span>
        </div>
        
        <div class="form_group">
            <input [value]="detailWork?.experience" type="text" id="experience" name="experience" class="form_input"  placeholder=" "  disabled readonly>
              <label for="experience" class="form_label">Experiencia</label>
              <span class="form_line"></span>
        </div>
    
        <div class="form_group">
            <input [value]="detailWork?.area" type="text" id="area" name="area" class="form_input"  placeholder=" "  disabled readonly>
              <label for="area" class="form_label">Municipio</label>
              <span class="form_line"></span>
        </div>

        <div class="form_group">
            <input [value]="detailWork?.salary" type="text" id="salary" name="salary" class="form_input"  placeholder=" "  disabled readonly>
              <label for="salary" class="form_label">Precio por servicio</label>
              <span class="form_line"></span>
        </div>

        <div class="form_group">
            <input [value]="detailWork?.address" type="text" id="address" name="address" class="form_input"  placeholder=" "  disabled readonly>
              <label for="address" class="form_label">Dirección</label>
              <span class="form_line"></span>
        </div>

        <div class="form_group ">
          <input [value]="detailWork?.description" type="text" id="description" name="description" class="form_input"  placeholder=" "  disabled readonly>
            <label for="description" class="form_label">Descripción del servicio</label>
            <span class="form_line"></span>
        </div>
  
      </div>
  
      <p>Ubicación exacta de trabajo:</p>
      
      <google-map width="100%" height="300" [center]="center" [zoom]="zoom" >
        <map-marker *ngIf="markerPosition" [position]="markerPosition"></map-marker>
      </google-map>
  
    </form>
  </div>

