a.navbar-brand{
    margin: 0px 0px 0px -15px;
    padding: 20px 15px;
  }
  
  .nav-item a.nav-link{
    padding: 30px 15px 25px;
    text-decoration: none; 
  border-bottom: 2px solid transparent;
  }
  
  .nav-item a.nav-link:hover {
    color: #3423A6; /* Cambia el color de la letra cuando se hace hover */
    text-decoration: none; /* Elimina la línea subrayada por defecto */
    border-bottom: 2px solid #3423A6; /* Agrega una línea abajo */
  }
  .notification-list {
    width: 500px;
  }

.card{
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #dee2e6; 
}
.dropdown-menu{
  margin: 0;
  padding: 0;
}