<div class="container">
    <div class="card border-0">
        <form (ngSubmit)="onCompleteInformation()">
            <h4 class="text-center">Datos personales</h4>
            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="name" name="name" class="form-control" placeholder="Nombre" [(ngModel)]="name" required autocomplete="off"/>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Apellido" [(ngModel)]="lastName" required autocomplete="off"/>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="phone" name="phone" class="form-control"placeholder="Celular" [(ngModel)]="phone" required autocomplete="off"/>
                </div>
              </div>
            </div>
          
            <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="description" name="description" class="form-control" placeholder="Sobre ti" [(ngModel)]="description" required autocomplete="off"/>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    
                    <div class="form-group col-md-4">
                        <select id="gender" name="gender" class="form-control" [(ngModel)]="gender">
                          <option selected>Género</option>
                          <option>Mujer</option>
                          <option>Hombre</option>
                        </select>
                      </div>
                  </div>
                </div>
              </div>
              <div class="text-center pt-1  pb-1">
                <button class="btn btn-primary btn-block fa-lg mb-3" type="button" (click)="onCompleteInformation()">Continuar</button>
              </div>
          </form>
    </div>
</div>




